@media(min-width: 900px) {
    #list-container{
        max-width: 80% !important;
        margin: 8rem auto;
    }
}

@media(min-width: 1140px) {
    #list-container{
        max-width: 70% !important;
        margin: 8rem auto;
    }
}