.header {
    background-color: black;
}
.options {
    border-radius: 4%;
    margin-top: 2.5rem;
    padding: 0.5rem 0.5rem 0.3rem 0.5rem;
    display: none;
}

.options button{
    bottom: 0.2rem;
    right: 0.2rem
}

@media (max-width: 800px) {
    .options {
        margin-top: 2.5rem;
    }
}